/**
 * CSS styles for form and input fields.
 *
 * These styles are used with form and input fields generated via yiic script.
 *
 * @author Qiang Xue <qiang.xue@gmail.com>
 * @link http://www.yiiframework.com/
 * @copyright Copyright &copy; 2008-2009 Yii Software LLC
 * @license http://www.yiiframework.com/license/
 */

div.yiiForm
{
	border: 2px solid #B7DDF2;
	background: #EBF4FB;
	margin: 0;
	padding: 5px;
	/*width: 550px;*/
	width: 90%;
}

div.yiiForm label.required
{
}

div.yiiForm span.required
{
	color: red;
}

div.errorSummary
{
	border: 2px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

div.errorSummary p
{
	margin: 0;
	padding: 5px;
}

div.errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

div.errorSummary ul li
{
	list-style: square;
}

div.yiiForm .hint
{
	color: #345a89;
	font-size: 90%;
	margin: 0 0 0 110px;
}

div.yiiForm fieldset
{
	border: #B7B7B7 1px solid;
	margin: 10px 0;
	padding: 10px;
}

div.yiiForm legend
{
	font-weight: bold;
}

div.yiiForm label
{
}

div.yiiForm div.action,
div.yiiForm div.buttons
{
	clear: left;
	margin-left: 160px;
	padding: 0.25em 0;
}

div.yiiForm div.simple,
div.yiiForm div.row,
div.yiiForm div.complex
{
	clear: left;
	padding: 0.25em 0;
}

div.yiiForm div.simple label,
div.yiiForm div.row label,
div.yiiForm div.complex span
{
	display: block;
	float: left;
	margin-right: 10px;
	position: relative;
	text-align: right;
	width: 150px;
}

div.yiiForm label.error,
div.yiiForm span.error,
div.yiiForm .errorMessage
{
	color: #C00;
}

div.yiiForm input.error,
div.yiiForm textarea.error,
div.yiiForm select.error
{
	background: #FEE;
	border-color: #C00;
}

div.yiiForm div.simple div,
div.yiiForm div.row div,
div.yiiForm div.complex div
{
	margin-left: 160px; /* was 110 */
}
