body {
	margin: 4px;
}
.footer { /* hacky override for IE */
	text-align: center;
	margin-top: 17px;
	padding-top: 17px;
	border-top: 1px solid #EEE;
}

div.operationError, div.operationSuccess, .errorSummary
{
	padding: 7px 7px 12px 7px;
	margin: 10px 10px 20px 10px;
	font-size: 0.9em;
	max-width: 500px;	
}

div.operationError
{
	border: 2px solid #C00;
	background: #FEE;
}

div.operationSuccess
{
	border: 2px solid #2bb300;
	background: #eaffe0;
}

.errorSummary
{
	border: 2px solid #C00;
	background: #FEE;
}