/*
 * Under http://trentrichardson.com/examples/timepicker/
 * Version 1.0.1 Last updated on 07/01/2012
 * "jQuery Timepicker Addon is currently available for use in all personal or commercial projects 
 * under both MIT and GPL licenses. This means that you can choose the license that best suits your project, 
 * and use it accordingly.
/*

/* css for timepicker - specific to timepicker addon */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
/*.ui-timepicker-div dl { text-align: left; }*/
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* custom css - theme in assets d/l'ed from jquery theme roller w/ core/datepicker/slide options 
 * match width to ui elements
 * shrink font slightly in most scenarios
 * shrink margins around slider area
 */
.ui-datepicker { width:215px; font-size:small;  }
.ui-timepicker-div dl { margin: 0 2% 0; }
